include navbar.pug

main(class="container")
  div(class="mainContent")
    img(src="mikayla.png" alt="headshot of Mikayla Campbell" width="300" height="300")
    br
    div(class="bg-light rounded" id="intro")
      h2(class="notForm") Mikayla Campbell (she/her):
      p I am a second-year graduate student on the software engineering track. I received my Bachelor’s degree in Computer and Information Science from the University of Oregon in 2021. I am currently working to obtain my Master’s degree in Computer Science at Portland State University. I have 4 years of professional experience working as a Software Engineering Intern at the Aerospace Corporation. This experience includes working with Docker, Kubernetes, API Gateways, Amazon Web Services, Kafka, HBase, Nifi, Tableau, Litmus Chaos, and other cloud technologies. One of my main tasks as an intern was to help automate the capabilities of an electro-optical telescope. Additionally, I have 3 years of experience working as a teaching assistant for various computer science classes where I helped students learn the basics of Python, C, and Unix. I am currently pursuing a full-time position as a Software Engineer for when I graduate in 2023.
