include navbar.pug

main(class="container")
  div(class="mainContent")
    h1 Projects
    div(class="bg-light rounded")
      a(class="projName" href="https://github.com/arasmu2/FullStackFinalProj")
        h3 Star Wars Themed Full Stack Application
      p This project is a Star Wars full stack application. It uses various APIs including: SWAPI, the Star Wars Character API, the Star WArs Quote API, and the Imgflip API. This application allows the user to navigate and filter through various Star Wars information including the movies, characters, species, starships, vehicles, and planets. This application also has a random Star Wars meme generator that takes a random Star Wars quote and a random Star Wars image to generate a meme.
    div(class="bg-light rounded")
      a(class="projName" href="https://github.com/mcampbe3/CS422Project2")
        h3 Mentor Meeter Application
      p This project is a system that connects users to create a mentor-mentee relationship. It allows users to answer what is important to them in life and in their field and finds someone who is compatible with those answers. The users can then get the information of other compatible users.
    div(class="bg-light rounded")
      a(class="projName" href="https://github.com/mcampbe3/CIS433Project")
        h3 Blockchain Voting Application
      p This project is an online voting application that uses a blockchain structure to encrypt the user's information. It uses MetaMask and Ganache to create its blockchain structure. This application also immediately counts the votes and allows all users to see the current results of the votes so far without exposing any user information.
    div(class="bg-light rounded")
      a(class="projName" href="https://aerospace.org/article/improving-space-domain-awareness-prime-focus")
        h3 Automation of an Electro-Optical Telescope
      p This project is an effort to automate a 1-m telescope located on top of Aerospace’s laboratory facility in El Segundo, California. User inputs to the telescope will generate an automated observation schedule that respects solar lighting conditions.
